.email-box{
    display: grid;
    grid-template-columns: 2/10fr 3/10fr 5/10fr;
}
.first-part{
    height: 100vh; 
    background: gray;
}
.second-part{
    height: 100vh; 
    background: gray;
}
.third-part{
    height: 100vh; 
    background: gray;
}